{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splid</title>
    <link rel="stylesheet" href="{% static 'css/index_css.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
  
  <script>
    // Wait for the document to load
    document.addEventListener('DOMContentLoaded', function() {
        // Set timeout to hide the error message div after 4 seconds
        setTimeout(function() {
            document.querySelector('.errormessage').style.display = 'none';
        }, 2000); // 4 seconds
    });
</script>

    <div class="login-wrap">
        <div class="login-html">
          <form action="{% url 'login_view' %}" class="login" name="login-form" method="post">
            {% csrf_token %}
                {% csrf_token %}
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="username" class="label">Username</label>
                            <input id="username" type="text" name="username" class="input">
                        </div>
                        <div class="group">
                            <label for="password" class="label">Password</label>
                            <input id="password" type="password" name="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" name="remember_me" class="check" checked>
                            <label for="check"><span class="icon"></span> Keep me Signed in</label>
                        </div>
                        <div class= "errormessage">
                          {% for message in messages %}
                              <div>{{ message }}</div>
                          {% endfor %}
                          <br>
                      </div>
                        <div class="group">
                          <input type="submit" class="button" value="Sign In">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Forgot Password?</a>
                        </div>
                    </div>
                  </form>
                    <form action="{% url 'register_view' %}" class="signup" name="signup-form" method="post">
                      {% csrf_token %}
                    <div class="sign-up-htm">
                            <div class="group">
                                <label for="new_username" class="label">Username</label>
                                <input id="new_username" type="text" name="new_username" class="input">
                            </div>
                            <div class="group">
                                <label for="email" class="label">Email Address</label>
                                <input id="email" type="email" name="email" class="input">
                            </div>
                            <div class="group">
                                <label for="new_password" class="label">Password</label>
                                <input id="new_password" type="password" name="new_password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <label for="confirm_password" class="label">Confirm Password</label>
                                <input id="confirm_password" type="password" name="confirm_password" class="input" data-type="password">
                            </div>
                            <div class="errormessage">
                              {% for message in messages %}
                                  <div>{{ message }}</div>
                              {% endfor %}
                              <br>
                          </div>
                            <div class="group">
                              <input type="submit" class="button" value="Sign Up">
                            </div>
                            <div class="hr"></div>
                            <div class="foot-lnk">
                                <label for="tab-1">Already Member?</a>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
